Configured nginx from here:

https://www.digitalocean.com/community/tutorials/how-to-install-nginx-on-ubuntu-18-04#:~:text=%20How%20To%20Install%20Nginx%20on%20Ubuntu%2018.04,of%20the%20installation%20process%2C%20Ubuntu%2018.04...%20More%20
